.part{
    margin-left: auto;
    margin-right: auto; 
    width:50%;
    font-size: 24px;
    border-style: solid;
    border-radius: 40px;
    background-color: rgb(233, 204, 167, 0.3);
    padding: 0px 20px 20px 20px;
}

.part_title{
    font-family: 'Oswald', sans-serif; 
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 30px;
}
.part_one{
    font-family: 'Lobster', cursive;    
}

.part_two{
    font-family: 'Cormorant Garamond', serif
}