.content{
    border: red 1px solid;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}

.content__head{
    margin-bottom: 20px;
}

.name{
   width: 35%;
}

.content-input{
   display: flex;
   margin-bottom: 5px;
}

.content-input input:first-child{
    margin: 0px;
}

.content-input input[type="checkbox"]{
    margin: 0px;
}

.content__footer{
    margin-top: 30px;
}

.last{
    flex-direction: column;
}

.text input{
    width: 100%;
    height: 30px;
}

input[type="text"], .input select{
    border: none;
}

.model{
    display: inline;
}

@media all and (max-width:600px){
    .content-input{
        flex-direction: column;
    }
    .name{
        width: 100%;
    }
    .content-input:nth-child(4){
        flex-direction: row;
    }
    .name{
        width: 173px;
    }
    .model{
       display: block;       
    }
}